/*구글폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Road+Rage&display=swap');
/*커뮤 자유게시판 헤더 */
#cm-fb-head{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
}
#head-text a:hover {
    color:green;
}
/*커뮤 자유게시판 헤더사진*/
#cm-fb-head-img{
    width:840px;
    height: 200px;
    position: absolute;
}
/*list 영역*/
#cm-fb-list-box{
    
    height: 1000px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#fb-list li{
    font-size: 1.1em
    
 }

#register-btn-box button{
    float: right;
    border-color: transparent;
    background-color: transparent;

}
#register-btn-box button:hover{
    cursor: pointer;
    background-color: #bdbdbd;
    transition: 800ms ease all;
    
}
#register-btn-box button:active{
    background-color: #616161;
}
#cm-fb-list-menubtn button {
    border-color: transparent;
    background-color: #616161;
    color: aliceblue;
    cursor: pointer;
    transition: 800ms ease all;
    
}
#cm-fb-list-menubtn button:hover {
    background:#fff;
    color: #616161;
}
#cm-fb-list-menubtn button:active {
    background-color: #616161;
}
#search-btn {
    border-color:  transparent;
    background-color: transparent;
    cursor: pointer;
    margin-left: -5px;
    
}
#search-btn:hover {
    background-color: #bdbdbd;
    
}
#search-btn:active {
    background-color: #616161;
}
#search-input{
    outline: none;
    border-color: #616161;
    
}