/*구글폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Road+Rage&display=swap');
/*커뮤 자유게시판 헤더 */
#cm-fb-head{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
}
#head-text a:hover {
    color:green;
}
/*커뮤 자유게시판 헤더사진*/
#cm-fb-head-img{
    width:840px;
    height: 200px;
    position: absolute;
}
/*list 영역*/
#cm-fb-list-box{
    
    height: 1000px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
#cm-fb-list-box button:hover{
    color: rgb(0, 119, 255);
}
#fb-list {
     width:100%;
     text-align: center;
     font-family: 'Noto Sans KR', sans-serif;
     
     
 }
#fb-list  tr td{
    padding: 5px;
    border-bottom: 1px solid #beb18b;

}

 #table-header{
     background-color: silver;
 }
#notice{
    background-color: rgb(228, 225, 225);
}
#notice-sortation span{
    background-color: rgb(150, 37, 37);
    color: white;
    border: 1px solid;
    border-color: black;
    
}

#cm-fb-list-menubtn button {
    border-color: transparent;
}
#cm-fb-list-menubtn {
    font-family: 'Noto Sans KR', sans-serif;
}
#cm-fb-list-menubtn a:hover {
    color: pink;
}
#cm-fb-list-menubtn a:active {
    color: rgb(238, 82, 108);
}
