@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Road+Rage&display=swap');
#board-box{
    margin-top:5%;
    height: auto;
    margin-left:5%;
    margin-right:5%;
    
}
#board-box p {
    font-family: 'Noto Sans KR', sans-serif;
}
#board-header{
    width:100%;
    background-color: #F5F5F5;
}
#detail-board-title {
    width: 100%;
    font-size: 2em;
    font-family: 'Noto Sans KR', sans-serif;
}
#board-box td {
    font-family: 'Noto Sans KR', sans-serif;
}
#good-btn {
    width:100px;
    margin:auto;
    display:block;
    color: #183153;
    background-color: #66CC66;
    border-radius: 100%;
    height: 100px;
    border-color: transparent;
}
#board-box >#good-btn:hover{
    background-color: #9fd40c;
}
#go-list-btn{
    font-size:0.8em;
    margin-left: 740px;
    background-color: transparent;
    border-color: transparent;
    display: inline;
    font-family: 'Noto Sans KR', sans-serif;

}
#go-list-btn:hover{
    color: rgb(156, 156, 156);
}
#report-btn{
    font-size:0.8em;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Noto Sans KR', sans-serif;
}
#report-btn:hover{
    color: red;
}
#comment-box{
    margin-top:5%;
    height: auto;
    margin-left:5%;
    margin-right:5%;
}
#comment-box p {
    font-family: 'Noto Sans KR', sans-serif;
}
#people-like-post{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    
}
#comment-register-box{
    margin-top:5%;
    height: auto;
    margin-left:5%;
    margin-right:5%;
    font-family: 'Noto Sans KR', sans-serif;
}
#comment-register-box fieldset {
    background-color: #FBFBFB;
    
}
#comment-register-box table{
    width: 100%;
}
.in-line > textarea{
        width:90%;
      height:100px;
      min-height: 100px;
      border: 1px solid;
      font-size:1em;
      padding-left: 5px;
      font-style: oblique;
      outline:none;
      box-sizing: border-box;
      color:black;
      resize: none;
}
.in-line > textarea:focus{
    border-color: #66AFE9;
}
.in-line > input[type=button]{
    width: 5%;
    height:100px;
    border:1px solid;
    background-color: white;
    margin-left: -7px;
    box-sizing: border-box;
    position: absolute;
  }
  .in-line{
    width:100%;
    height:auto;
  }

.in-line input{
    margin:0;
  }


.in-line > input[type=button]:hover{
    background-color: lightgray;
  }
.comment-header {
    margin-top: 3%;
}
.comment-text{
    margin-top: 1%;
    margin-top: 1%;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.reply-box{
    margin-left:6%; margin-top: 3%;
}
#reply-register-box{
    display:none;
}

#star{
    -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    font-family: 'Noto Sans KR', sans-serif;
}
#star:focus{
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
#img-btn{
    background-color:transparent; border-color:transparent;

}
#img-btn:hover{
    background-color: #c2c2c2;
}
#reply-btn:hover{
    color: rgb(156, 156, 156);
}
#comment-report-btn{
    color: red;
}